@{
  Layout = "_Layout";
}

<h1>Welcome to Pierres Bakery</h1>
<hr/>
<button>@Html.ActionLink("See all treats", "Index", "Treats")</button> <button>@Html.ActionLink("See all flavors", "Index", "Flavors")</button>
<button>@Html.ActionLink("Account options", "Index", "Account")</button>