@{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Login or Register</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" value="Log out" />
    }
}
else
{
    <button>@Html.ActionLink("Register", "Register")</button>
    <button>@Html.ActionLink("Log in", "Login")</button>
}
