<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierres Bakery</title>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    @RenderBody()
    @Html.Partial("Footer")
  </body>
</html>